<div>
    <section class="content-header">
        <h3>Editar Pedido</h3>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Igreja</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" ng-model="church" placeholder="Igreja"
                                               typeahead="church.name for church in getChurches($viewValue)"
                                               typeahead-loading="loadingChurches" typeahead-on-select="setChurch($item)" class="form-control">
                                        <div class="input-group-addon">
                                            <span ng-show="loadingChurches" class="fa fa-circle-o-notch fa-spin"></span>
                                            <span ng-show="!loadingChurches" class="fa fa-info"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Observa&ccedil;&otilde;es</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea class="form-control textarea" placeholder="Observa&ccedil;&otilde;es" rows="6"
                                              maxlength="255" name="Observation"
                                              ng-model="order.obs"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="faded" />
                    <!--<div class="row">-->
                        <!--<div class="col-lg-6 product-list-item" ng-repeat="product in products track by $index">-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-12">-->
                                    <!--<label>{{product.name}}</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-6">-->
                                    <!--<input type="number" class="form-control" ng-model="product.quantity" placeholder="Quantidade">-->
                                <!--</div>-->
                                <!--<div class="col-lg-6">-->
                                    <!--<select class="form-control" ng-options="unity.value as unity.label for unity in unities" ng-model="product.unity">-->
                                        <!--<option value="">--</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Produtos</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="product.name" placeholder="Nome do Produto"
                                       typeahead="product.name for product in getProducts($viewValue)"
                                       typeahead-loading="loadingProducts" typeahead-on-select="setProduct($item)" class="form-control">
                                <div class="input-group-addon">
                                    <span ng-show="loadingProducts" class="fa fa-circle-o-notch fa-spin"></span>
                                    <span ng-show="!loadingProducts" class="fa fa-info"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" ng-model="product.product_quantity" placeholder="Quantidade">
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control" ng-options="unity.value as unity.label for unity in unities" ng-model="product.product_unity">
                                <option value="">--</option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-default" ng-click="addProduct()">+</button>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered text-center table-open-products">
                        <thead>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Unidade</th>
                        <th>Ações</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="orderDetail in order.orderDetails track by $index">
                            <td>{{orderDetail.name}}</td>
                            <td>{{orderDetail.product_quantity}}</td>
                            <td>{{unities[orderDetail.product_unity]}}</td>
                            <td class="action-column">
                                            <span class="glyphicon glyphicon-remove pointer delete-btn text-center"
                                                  title="Remover" ng-click="remove($index)"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="box-footer">
                <div class="pull-right form-button">
                    <button type="button" class="btn btn-default" ng-click="back()">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="save()">Salvar</button>
                </div>
            </div>
        </div>
    </section>
</div>