<div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-6">
            <input type="text" class="form-control" placeholder="Buscar igrejas" ng-change="searchByParam(search.searchParam)" ng-model="search.searchParam">
        </div>
        <div class="col-xs-4">
            <div class="product-button-container">
                <button type="button" class="btn new-product-button pull-right"
                        ng-click="newChurch()">Nova igreja</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div infinite-scroll="fetchMoreChurches()">
                <table class="table table-hover">
                    <thead>
                        <th>Nome</th>
                        <th>CNPJ</th>
                        <th>Cidade</th>
                        <th>Aç&otilde;es</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="church in churches track by $index">
                            <td>{{church.name || 'Sem nome.'}}</td>
                            <td>{{church.cnpj || 'Sem CNPJ.'}}</td>
                            <td>{{church.city || 'Sem cidade.'}}</td>
                            <td>
                                <span class="glyphicon glyphicon-edit pointer edit-btn"  title="Editar"></span>
                                <span class="glyphicon glyphicon-trash pointer delete-btn"  title="Remover"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="scrollTop" ng-click="moveToTop()" title="Ir para o topo">
        <span class="glyphicon glyphicon-arrow-up scroll-top-icon"></span>
    </div>
</div>