<div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-6">
            <input type="text" class="form-control" placeholder="Buscar igrejas" ng-change="searchByParam(search.searchParam)" ng-model="search.searchParam">
        </div>
        <div class="col-xs-4">
            <div class="product-button-container">
                <button type="button" class="btn new-product-button pull-right"
                        ng-click="newChurch()">Nova igreja</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div infinite-scroll="fetchMoreChurches()">
                <div class="row card" ng-repeat="church in churches track by $index">
                    <div class="col-xs-12">
                        <div class="col-xs-12 card-title">
                            <h4>{{church.name}}</h4>
                        </div>
                        <div class="card-info">
                            <div class="col-xs-12 card-info-item">
                                <label>CNPJ:</label> {{church.cnpj|| 'Sem cnpj.'}}
                            </div>
                            <div class="col-xs-12 card-info-item">
                                <label>Cidade:</label> {{church.city || 'Sem cidade.'}}
                            </div>
                        </div>
                        <hr class="faded"/>
                        <div class="col-xs-12 card-options">
                            <div class="pull-right">
                                <span class="edit-option pointer" title="Editar igreja">Editar</span>
                                <span class="remove-option pointer" title="Remover igreja">Remover</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="scrollTop" ng-click="moveToTop()" title="Ir para o topo">
        <span class="glyphicon glyphicon-arrow-up scroll-top-icon"></span>
    </div>
</div>