<section class="content-header">
    <div class="row">
        <div class="col-lg-9">
            <h3>Dashboard Gerencial</h3>
        </div>
    </div>
</section>
<section class="content">
    <div class="box box-primary" style="height: auto; width: auto;" align="center">
        <!--<img src="../../img/under_maintenance.png" style="margin-top: 10px;">-->
        <button onclick="location.href = 'https://app.powerbi.com/groups/me/dashboards/41b221ef-3cbb-486b-a0c7-24e7f302182b';
            "id="myButton" class="btn btn-default" style="margin-top: 100px;margin-bottom: 100px">
            Clique aqui para visualizar o dashboard
        </button>
    </div>
</section>