<div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-6">
            <input type="text" class="form-control" placeholder="Buscar produtos" ng-change="searchByParam(search.searchParam)" ng-model="search.searchParam">
        </div>
        <div class="col-xs-4">
            <div class="product-button-container">
                <button type="button" class="btn new-product-button pull-right"
                        ng-click="newProduct()" data-toggle="modal" data-target="#myModal">Novo produto</button>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Novo Produto</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" placeholder="Nome do Produto">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div infinite-scroll="fetchMoreProducts()">
                <table class="table table-hover">
                    <thead>
                        <th>Nome</th>
                        <th>Descri&ccedil;&atilde;o</th>
                        <th>Pre&ccedil;o</th>
                        <th>A&ccedil;&otilde;es</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products track by $index">
                            <td>{{product.name || 'Sem nome'}}</td>
                            <td>{{product.description || 'Sem descrição'}}</td>
                            <td>{{(product.price | currency:"R$ ":2)|| 'Sem preço'}}</td>
                            <td>
                                <span class="glyphicon glyphicon-edit pointer edit-btn"  title="Editar"></span>
                                <span class="glyphicon glyphicon-trash pointer delete-btn"  title="Remover" ng-click="remove(product)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="scrollTop" ng-click="moveToTop()" title="Ir para o topo">
        <span class="glyphicon glyphicon-arrow-up scroll-top-icon"></span>
    </div>
</div>